[submodule "external/boost_intrusive"]
	path = external/boost_intrusive
	url = https://github.com/boostorg/intrusive
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
